body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}
h1 {
  color: #db9a50;
}
p {
  color: #611919;
}


.cackle_button {
  background-color: #d85b5b;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}