<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>
            Cackle
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>
            Cackle
        </h1>
        <div>
            <button type="button" class="cackle_button" onclick="location.href='{{ url_for('cackle') }}'">
                Cackle 
            </button>
        <p>
            Cackle is a simple web application that allows users to create and manage their own cackle.
        </p>
        <p>
            This is a simple web application that allows users to create and manage their own cackle.
        </p>
    </body>
</html>